@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,300,700,800);

/*---------------- FONT (OPEN SANS) IMPORT FROM GOOGLE FONTS ---------------*/





/*----------------------------------------------------------------------------------------
										COMMON STYLES
-----------------------------------------------------------------------------------------*/


body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 100;
	color: #444;
	line-height: 1.8;
}

a,
a:hover {
	color: #444;
	text-decoration: none;
}

h1 {
	font-size: 45px/1.3em;
	font-weight: 700;
}

h2 {
	font-size: 50px;
	font-weight: 800;
	text-align: center;
}

h3 {
	font-size: 40px;
	font-weight: 500;
}

h4 {
	font-size: 30px;
	font-weight: 300;
}
h5 {
	font-size: 30px;
	font-weight: 300;
}
h6{
	font-size: 20px;
}

h1,
h2,
h3,
h4 {
	color:#404040;
	/*text-transform: uppercase;*/
}

ul {
	margin: 0;
	padding: 0px;
	list-style: none;
}


a{color:#5173bd;}
a:hover,a:focus{color:#5173bd;}
i {
    font-size: 40px;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.icon-screen-smartphone {
    font-size: 45px;
}

.breath{
	margin:50px auto;
}

.highlight{background:#f4f4f4;margin-top:40px;}
 /* preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff; /* change if the mask should have another color then white */
	z-index:99; /* makes sure it stays on top */
}

#status {
	width:200px;
	height:200px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-image:url(../images/status.gif); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
}

    /*=======================  MASTHEAD ================================*/


.masthead{
	position:relative;
	padding:80px 15px;
	color:#FFF;
	text-align:center;
	text-shadow:0 1px 0 rgba(0,0,0,.1);
    background:
    linear-gradient(
      rgba(32, 32, 32, 0.7),
      rgba(32, 32, 32, 0.7)
    ),
    url("../images/book.jpg");
    background-color: #202020;
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover
	-o-background-size:cover;
	background-size:cover;
	}


.masthead .container{
	animation:fadein 2s;
	-moz-animation:fadein 2s;
	-webkit-animation:fadein 2s;
	-o-animation:fadein 2s;
	}

#hlight{
	color: #FF7F00;
	font-family: 'Vollkorn', sans-serif;

}

#tweet-button{
	padding-top: 15px;
	margin-left: 10%;
}

.img-book{
	width: 70%;

}


.masthead .message h2,
.masthead .message h3,
.masthead .message h4 {
	color: #fff;
	text-transform: none;
}

 /* General button style (reset) */
 .btn-lg{
 	font-size: 25px;


 }
.btn-large {
	font-size: 25px;
	padding:20px 50px;
	margin:5px 10px;
}


/*==============================================
floating
==============================================
*/

.floating {
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(8%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);
	}
	50% {
		-webkit-transform: translateY(8%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

/*
              /*==========  Book Highlights ==============*/



.section-title {
	text-align:center;
	margin-top:60px;
	margin-bottom:30px;
}
.section-title h2 {
	color:#384047;
}
.section-title h4 {
	color:#94a3a8;
}
.heroimg img, .clientlogo img {
	max-width:100%;
}
                 /*==========  TABLE OF CONTENT ==============*/
.tcontent {
	padding-bottom: 50px;
  	list-style: none;
  	margin: 0 auto !important;
  	float: none !important;
}

.tcontent h3 {
	text-align: center;
	padding-bottom: 20px;
}

.features {
	margin:25px 0;
}
.thumbnail {
	border:0;
	text-align:center;
}
.thumbnail .caption p {
	color: #94a3a8;
}
.thumbnail col-md-6{
	border-image-width: 100px;
}

.highlights-content .thumbnail img {
	width: 50px;
}

.heroimg .thumbnail {
	padding: 50% 10% 0 10%
}

/*Hover Animation*/

.thumbnail img {
	-moz-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
}
.thumbnail:hover img {
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
	-o-transform:scale(1.05);
	-ms-transform:scale(1.05);
	transform:scale(1.05);
	z-index:2;
}

#explore .highlights-content .thumbnail {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 100;
	color: #444;
	line-height: 1.8;

}

                 /*==========  TESTIMONIALS ==============*/

#testimonial, #packages
{
	background:#f2f2f2;
}
blockquote{
	border:none;
	padding:0;
	text-align:center;
	margin:0;
}
blockquote small{
	color:#b8b8b8;
	font-size:12px;
}

.testi-thumb{
	margin-bottom:20px;
}
.testi-thumb img{
	background: #b8b8b8;
	border-radius:4px;
}
.testi-text{
	font-size:18px;
	line-height:22px;
	margin-bottom:20px;
}
.testi-user{
	color:#d9563c;
	margin-bottom:5px;
}


.testblock {
	width:100%;
	height:auto;
	padding:20px;
	background:#FFF;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	position:relative;
	line-height:28px;
	font-size:16px;
}
.testblock:after {
	top: 100%;
	left: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 15px;
	margin-left: -15px;
}
.clientblock {
	margin-top:40px;
	margin-left:10px;
}
.clientblock img {
	float:left;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
}
.clientblock p {
	padding-left:80px;
	padding-top:13px;
}
.clientblock p strong {
	color:#384047;
	font-size:16px;
}
/* Animation */

.testblock {
	-moz-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
}
.testblock:hover {
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
	-o-transform:scale(1.05);
	-ms-transform:scale(1.05);
	transform:scale(1.05);
	z-index:2;
}





                /*==========  Buy Links ==============*/

.buylinks{
	background-color: #f2f2f2;
	padding-bottom: 200px;
}
.buy-section-title h2{
	padding-bottom: 50px;
	color: #384047;

}

.buylinks .box {
	padding-bottom: 20px;
}
.container .buy .links{
	background-color: #1E1F2C;
	padding-bottom: 20px;
	padding-top: 20px;
	color: #fff;
}
.buy {
	padding:0px;
	color:#FFF;
	font-size: 16px;
	border-style:solid;
	border-width: 2px;
	border-color: #1E1F2C;
	text-align:center;
	-webkit-border-radius:5px;
	-moz-border-radius:3px;
	border-radius:5px;
	background-color: #fff;
}

.buy a {
  color:inherit;
}

.buy a:hover{
	color: #f36;
}

.buy .links {
	text-align: center;

	font-weight:600;
	color: #333;
}
.buy .order a {
		text-transform:uppercase;
}
.links h4{
	color: #FF7F00;
	font-family: 'Vollkorn', sans-serif;
}
.buy .order{
	font-size:52px;
    color: #222;
    font-weight:500;
	margin:10px 0;
	min-height: 120px;
}

 .btn-outline {
 	font-size: 22px;
    background-color: #f36;
    border-color: #f36;
    color: #fff;
    transition: all .5s;

}

 .btn-warning:hover{
 	background-color: transparent;
 	border-color: #f36;
 	color: #f36;
 }

/* Animation */

.buy {
	-moz-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
}
.buy:hover {
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
	-o-transform:scale(1.05);
	-ms-transform:scale(1.05);
	transform:scale(1.05);
	z-index:2;
}



                     /*========== FOOTER ==============*/


.footercta {
    padding: 60px 15px;
	color:#fff;
	font-size: 18px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	background:
    linear-gradient(
      rgba(32, 32, 32, 0.9),
      rgba(32, 32, 32, 0.9)
    ),
    url("../images/AYP1213827_Veer.jpg");
    background-color: #202020;
    background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.footercta .details-col p {
	text-align: left;
}
.footercta h3, h4{
	color: #fff;
	text-transform: none;

}
.footercta .details-col a {
	color: #7D98C8;
}

.footercta img{
	width: 200px;
}
/* large screens */
.footercta p{
	margin-right: 80px;
	margin-left: 80px;
	text-align: center;
}

.footerlinks {
	text-align:center;
}
.footerlinks a {
	text-align:center;
	padding:0 13px;
	display:inline-block;
	padding-bottom: 15px;

}

#socialicons img{
	width: 50px;
}


       /*========== CUSTOM MEDIA QUERIES==============*/


/*MEDIA QUERIES*/

@media (max-width: 991px) {

 h1 {
font-size: 35px;
line-height: 50px;
margin: 15px 0;
}
 h2 {
font-size: 35px;
}
 .testimonials [class*="col-"]:not(:first-child) {
 margin-top: 40px;
}
 .planpricing [class*="col-"]:not(:first-child) {
 margin-top: 30px;
}
 .breath {
margin: 30px auto;
}
 .masthead h2{
   	font-size: 45px;
   }
 .masthead h3{
   	font-size:35px;
   }
	.heroimg .thumbnail {
		padding: 9% 10% 0 10%
	}

}
@media (max-width: 767px) {
 	h1 {
	font-size: 30px;
	line-height: 40px;
	}

 	h2 {
	font-size: 30px;
	line-height: 40px;
	}

 	.subscribe [class*="col-"]:not(:first-child) {
 	margin-top: 30px;
	}

 	.masthead {
	padding: 40px 15px;
	}

	.masthead h2{
   	font-size: 45px;
   }

   .masthead h3{
   	font-size:35px;
   }

}

 @media (max-width: 480px) {
	 /*Media Queries for smaller devices*/
	.masthead {
		background-attachment: scroll;
	}
	.footercta p {
		margin-right: 5px;
		margin-left: 5px;
		text-align: left;
	}

   .masthead h2{
   	font-size: 45px;
   }
    .masthead h3{
   	font-size:35px;
   }

}

 #cbp-qtrotator.cbp-qtrotator{
 	min-height: 600px;
 }